<html>
    <head>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <style>
            .game-board {
                border : 4px solid gray;
            }

            .game-board.end {
                opacity: 0.2;    
            }

            .column {
                width: 25%;
                padding: 20px;
                text-align: center;
                vertical-align: middle;
                border-bottom: 2px solid whitesmoke;
                border-right: 2px solid whitesmoke;
            }
            
            .column div { font-size: 16px; font-weight: bold;}
            
            tr .column:last-of-type {
               border-right: 0; 
            }
            
            tr:last-of-type .column {
                border-bottom: 0;
            }
            
            tr {
                height: 25%;
            }
            
            table {
                width: 100%;
                max-width: 500px;
                height: 500px;
            }
            
            .item[data-value='2'] { background-color: #FFFDE7; }
            .item[data-value='4'] { background-color: #FFF9C4; }
            .item[data-value='8'] { background-color: #FFF59D; }
            .item[data-value='16'] { background-color: #FFF176; }
            .item[data-value='32'] { background-color: #FFEE58; }
            .item[data-value='64'] { background-color: #FFEB3B; }
            .item[data-value='128'] { background-color: #FDD835; }
            .item[data-value='256'] { background-color: #FBC02D; }
            .item[data-value='512'] { background-color: #F9A825; }
            .item[data-value='1024'] { background-color: #F57F17; }
            .item[data-value='2048'] { background-color: #FF6F00; }    

            .w3-animate-fading{animation:fading 2s;}@keyframes fading{0%{opacity:0}50%{opacity:1}}
        </style>
    </head>
    <body>
        <div id="app" class="container">
            <div class="page-header" style="padding: 0 10px 0 10px">
                <div class="btn-group pull-right">
                    <button class="btn btn-default" @click="top" :class="{ 'active' : (direction == 'top')}">▲</button>
                    <button class="btn btn-default" @click="bottom" :class="{ 'active' : (direction == 'bottom')}">▼</button>
                    <button class="btn btn-default" @click="left" :class="{ 'active' : (direction == 'left')}">◁</button>
                    <button class="btn btn-default" @click="right" :class="{ 'active' : (direction == 'right')}">▷</button>
                    <button class="btn btn-default" @click="newGame">NEW</button>
                </div>
                <h1>2048</h1>
            </div>
            <div class="text-center">
                <table class="game-board" :class="{'end' : isCompleted}">
                    <tbody>
                        <tr class="row" v-for="(n, y) in 4">
                            <td class="column" v-for="(n, x) in 4" :class="{ 'item' : alive(x, y), 'w3-animate-fading' : getItem(x, y).turn == turn }" :data-value="getItem(x,y).value">
                                <div>{{getItem(x, y).value}}</div>
                            </td>    
                        </tr>
                    </tbody>
                </table>
                <div v-show="isCompleted" class="alert" :class="isSuccess? 'alert-success':'alert-danger'" style="margin-top: 10px;">
                    게임을 {{isSuccess? '성공' : '실패'}}하셨습니다.
                </div>
            </div>
            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading">
                    <h4>Debugging</h4>
                </div>
                <div class="panel-body">
                    <div style="margin-top:10px">
                        <label> x : <input type="text" v-model.number="x" style="width: 50px;"/></label>
                        <label> y : <input type="text" v-model.number="y" style="width: 50px;"/></label>
                        <label> value : <input type="text" v-model.number="value" style="width: 50px;"/></label>
                        <button class="btn btn-default" @click="add">add</button> 
                    </div>
                    <div style="border:1px solid gray; padding: 10px; margin: 5px 0 5px 0;"> x: {{x}}, y:{{y}}, value: {{value}}
                        <br>completed: {{completed}}, direction : {{direction}}</div>
                    <div style="border:1px solid gray; padding: 10px;">
                        <ul>
                         <li v-for="item in items">{{item.toString()}}</li>
                        </ul>
                    </div> 
                </div>              
            </div>
        </div>
        <script>
            var STATE = {
                "NEW" : "NEW"
                , "DELETED" : "DELETED"
                , "MODIFIED" : "MODIFIED"
            };

            function Item (option) {
                option = option || { value : 2};
                this.x = option.x || 0;
                this.y = option.y || 0;
                this.turn = option.turn || 1;
                this.state = STATE.NEW;
                this.value = option.value;
                this.created = new Date();
                this.place = function (x, y) {
                    return (this.x == x && this.y == y);
                }
                this.same = function (otherItem) {
                    return (otherItem.value == this.value);
                }
                this.double = function () {
                    this.value *= 2;
                }
                this.toString = function () {
                    return this.turn + " : (" + this.x + ", " + this.y + ") value : " + this.value + ", state : " + this.state;
                }
            };

            var app = new Vue({
              el: '#app',
              data: {
                items : []
                , turn : 1
                , x : 0
                , y : 0
                , value : 0
                , direction : null
                , completed : false
                , isSuccess : null
                , MAX_X : 3
                , MAX_Y : 3
                , MIN_X : 0
                , MIN_Y : 0
              },
              computed : {
                  isCompleted: function () {
                      return this.completed;
                  }  
              },
              methods: {
                 test : function() {
                     var rows = this.items[this.x];
                     Vue.set(rows, this.y, this.value);
                 }
                 , newGame : function () {
                     this.items = [];
                     this.completed = false;
                     this.items.push(new Item({
                         x : 0
                         , y: 0
                         , value : 2
                         , turn : this.turn
                     }));
                
                 }
                 , createRandomItem : function () { //TODO : optimize
                     var ITEM_BUCKETS = [];
                     var emptyBucket = [];

                     for(var x = 0; x <= this.MAX_X; x++) {
                         ITEM_BUCKETS.push([]);
                         for(var y = 0; y <= this.MAX_Y; y++) {
                             ITEM_BUCKETS[x].push({
                              x : x
                              , y : y
                              , exist : false
                          });
                         }
                     }

                     $.each(this.items, function(index, item) { 
                        ITEM_BUCKETS[item.x][item.y].exist = true;
                     });                     
                     
                     for(var y = 0; y <= this.MAX_Y; y++) {
                         for(var x = 0; x <= this.MAX_X; x++) {
                             if(!ITEM_BUCKETS[x][y].exist) {
                                 emptyBucket.push(ITEM_BUCKETS[x][y]);
                             }
                         }
                     }

                     if(emptyBucket.length == 0) {
                        return null;
                     }

                     var index = Math.floor(Math.random() * emptyBucket.length);
                     return new Item ({
                         x : emptyBucket[index].x
                         , y : emptyBucket[index].y
                         , value : 2
                         , turn: this.turn
                     });                     
                 }
                 , add : function () {
                     var target= this.getItem(this.x, this.y);
                     var newItem = new Item({
                         x : this.x
                         , y : this.y
                         , value : this.value
                         , turn : this.turn
                     });

                     if(!$.isEmptyObject(target)) {
                         if(target.same(newItem)) {
                            target.double();                          
                         }
                     } else {
                         this.items.push(newItem);
                     }
                 }
                 , getItem : function (x, y) {
                     var alive = {};

                     for(var index =0; index< this.items.length; index ++) {
                         var item = this.items[index];
                         if(item.place(x, y) && item.state !== STATE.DELETED) {
                             alive = item;
                             break;
                         }
                     } 
                     
                     return alive;
                 }
                 , alive : function (x, y) {
                     var alive = false;

                      for(var index =0; index< this.items.length; index ++) {
                         var item = this.items[index];
                          if( item.place(x, y) && item.state !== STATE.DELETED) {
                             alive = true;
                             break;
                         }
                     }                     
                     
                     return alive;
                 }
                 , top : function () {
                    this.direction = "top";
                    this._excute({
                        base : "x"
                        , ordering: function (target, other) {
                         return target.y - other.y;
                        }
                        , reorder : (function (orderTargets) {
							var changes = 0;
                            var offset = this.MIN_Y;
                             $.each(orderTargets, function(index, item) {
                                if(item.state != STATE.DELETED) {
									if(item.y != offset) {
										changes ++;
									}

                                    item.y = offset++;
                                } 
                             }); 
							 
							return changes;
                        }).bind(this)
                    });
                 }
                 , bottom : function () {
                    this.direction = "bottom";
                    this._excute({
                        base : "x"
                        , ordering: function (target, other) {
                         return other.y - target.y;
                        }
                        , reorder : (function (orderTargets) {
							var changes = 0;
                            var offset = this.MAX_Y;
                             $.each(orderTargets, function(index, item) {
                                if(item.state != STATE.DELETED) {
									if(item.y != offset) {
										changes ++;
									}
                                    item.y = offset--;
                                } 
                             }); 
							 
							 return changes;
                        }).bind(this)
                    });
                     
                 }
                 , left : function () {
                    this.direction = "left";
                    this._excute({
                        base : "y"
                        , ordering: function (target, other) {
                         return target.x - other.x;
                        }
                        , reorder : (function (orderTargets) {
							var changes = 0;
                            var offset = this.MIN_X;
                             $.each(orderTargets, function(index, item) {
                                if(item.state != STATE.DELETED) {
									if(item.x != offset) {
										changes ++;
									}
                                    item.x = offset++;
                                } 
                             }); 
							return changes;
                        }).bind(this)
                    })

                 }
                 , right : function () {
                    this.direction = "right";
                    this._excute({
                        base : "y"
                        , ordering: function (target, other) {
                         return other.x - target.x;
                        }
                        , reorder : (function (orderTargets) {
							var changes = 0;
                            var offset = this.MAX_X;
                             $.each(orderTargets, function(index, item) {
                                if(item.state != STATE.DELETED) {
									if(item.x != offset) {
										changes ++;
									}
                                    item.x = offset--;
                                } 
                             }); 
							return changes;
                        }).bind(this)
                    })

                 }
                 , _excute : function (rule) {
                     var changes = this._doRule(rule); 
                     
                     this.turn++;

                     this._check();
                     
                     if(!this.completed && changes > 0) {
                         this._createNextItem();
                     }

                 }
                 , _doRule : function (rule) {
					var changes = 0;
                     for(var ruleBase = 0; ruleBase <= this.MAX_Y; ruleBase++) {
                         var currentGroup = $.grep(this.items, function (item) {
                             return (item[rule.base] == ruleBase);
                         }).sort(rule.ordering);    

                         for(var index = 0; index < currentGroup.length; index++) {
                             var target = currentGroup[index];

                             if(!target || target.state == STATE.DELETED) {
                                 continue;
                             }

                             var nextTarget = currentGroup[index+1];
                             if(nextTarget && nextTarget.state != STATE.DELETED) {
                                 if(target.same(nextTarget)) {
                                     target.double();
                                     nextTarget.state = STATE.DELETED;
				     changes ++;
                                 }
                             }

                         }

                        changes += rule.reorder(currentGroup); 
                     }   
					 
					 return changes;
                 }
                 , _check : function () {
                     for(var index = this.items.length-1; index >= 0; index --) {
                         var target = this.items[index];
                         if(target.state === STATE.DELETED) {
                             this.items.splice(index, 1);

                         } else if(target.value == 2048) {
                             this.completed = true;
                             this.isSuccess = true;
                         }
                     }
                 }
                 , _createNextItem : function () {
                    var nextItem = this.createRandomItem();
                     
                    if(!nextItem) {
                        this.completed = true;
                        this.isSuccess = false;
                        return;
                    }
                     
                    this.items.push(nextItem);

                 }
             },
              mounted : function () {
                  this.newGame();
                  var _this = this;
                  $(document).keyup(function(event){
                      switch(event.which) {
                          case 37:
                              _this.left();
                              break;
                          case 38:
                              _this.top();
                              break;
                          case 39:
                              _this.right();
                              break;
                          case 40:
                              _this.bottom();
                              break;
                      }
                  });
              }
            })
        </script>
    </body>
</html>
